html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: $text;
    font-display:swap ;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
}
html,
body {
	height: 100%;
}
h1
h2,
h3,
h4,
h5,
h6,{
    margin: 0;
}
p{
    padding: 0;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 70px;
    color: $title;
    position: relative;
    padding-top: 35px;
    text-align: center;
    text-transform: uppercase;
    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/wave.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        top: 0;
       left: 50%;
       transform: translateX(-50%);
        width: 82px;
        height: 7px;
    }
}
